@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


html, body{
    font-family: Ubuntu, Arial;
    width: 100%;
    height: 100%;
}   


#header {
        position: fixed;
        top:0;
        left:0;
        bottom: 0;
        background:#090b13; 
        overflow-y: auto;
        width: 300px;
        transition: all ease-in-out 0.5s;
        padding: 15px;
        z-index: 9997;
        
}     

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    height: 120px;
    border: 2px solid #57595c;
    border-radius:50%;
     
}

#header .profile h1{

    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #fff;

}

#header .profile .social-links a {
    font-size: 1rem;
    background: #57595c;
    color: #fff;
    padding: 0.6rem;
    margin-right: 1rem;
    border-radius: 50%;
    transition: 0.3s;
    text-decoration: none;
}


#header .profile .social-links a:hover {
    border: 3px solid #0080ff;
    
}

.nav-menu{
    padding:1.5rem;
}


.nav-menu a,
.nav-menu a:focus{
    display: flex;
    align-items: center;
    color:  #dedee7;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i, 
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 0.8rem;
    color:  #8d8f91;

}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
      text-decoration: none;
      color:#fff;  
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
      text-decoration: none;
      color:#0080ff;  
}

 

#main {
    margin-left: 300px;
}

section#home{
    background-image:url("./img/laptop-final.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    width: 100%;
    height: 100vh;
    
}

  
 
section#home h2{
    margin-left:1rem;
    font-size: 3.0rem;
  
    
}
 
 
section#home span#subtitle{
    margin-left:1.2rem;
    font-size: 1.5rem;
 
}


.text-shadow {
    text-shadow: 4px 4px 4px #353434;
}

section#home div#view {
    width: 8rem;
}

section#home div#view a{
   text-decoration: none;
   color: #fff;
}

i.menu-mobile {
    position:fixed;
    color: #fff;
    background-color: #57595c;
    right: 0.7rem;
    top: 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    cursor:pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;

}

.menu-nav-active{
    overflow: hidden;
}


.menu-nav-active #header{
    left:0;
}


*::-webkit-scrollbar{
    width: 10px;
}

*::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff;
}
*::-webkit-scrollbar-thumb{
    background-color: #57595c;
  
}

.section-bg{
    background-color: #dedee7;
}

 
.res .res-title {
    font-weight: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#050d18;

}

.res .res-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;

}

.res .res-item h4 {
    line-height: 18px;
    font-weight: 600;
    font-family:sans-serif;
    color: #090b13;
    margin-top: 2rem;
    margin-bottom: 10px;
    
}


.res .res-item h5 {
    background: #dedee7;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  } 

.res .res-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 16px;
    height: 16px;
    border: 2px solid #1f5297;
    background: #fff;
    border-radius: 50%;
  }
 
 

 
@media (max-width: 1024px){

#header{
    
    left: -300px;
}

i.menu-mobile {

    display: flex;    
}

#main {

    margin-left: 0;
}

section#home h2{
     
    margin-top: 4rem;
    font-size: 2.5rem; 
}


section#home span#subtitle{
    
    margin-top: -0.5rem;
    font-size: 1rem;
}

section#about h3{

    margin-top: 1rem;
}

}

section#contact .address p {

    color: rgb(12, 180, 34);
    font-size: 20px;
}

section#contact .email p {

    font-size: 20px;
}






.carousel-control-prev{
    margin-left: -8rem;
  
 }
 
 .carousel-control-next{
     margin-right: -8rem;
 }
   
 .carousel-indicators{
     
     margin-bottom:-35px;
      
 }

 
 

/* anime */

[data-anime]{
    opacity:0 ;
    transition: 1s;
}

[data-anime="down"]{
    transform: translate3d(0, -100%, 0);
}

[data-anime="up"]{
    transform: translate3d(0, 100%, 0);
}


[data-anime="left"]{
    transform: translate3d(-100%, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
   
}



 
@media(max-width: 1860px){

[data-anime="right"]{
    transform: translate3d( 0, 100%, 0);
}

    
.carousel-control-prev{
    margin-left: 0;
    
  
 }
 
 .carousel-control-next{
     margin-right: 0;
     
 }
   
 .carousel-indicators{
     
     margin-bottom:-35px;
      
 }
 }